.modal {
    display: block;
    background-color: #00000044;
}

.messages-bin {
    position: fixed;
    bottom: 50px;
    right: 50px;
    max-width: 300px;
}

.nav-link {
    cursor: pointer;
}

.nav-link:active {
    color: skyblue;
}
